<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/sell.scss" />
</head>

<body>

<div class="search">
<%= form_tag(produtos_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar produtos" %>
    <h2 align="middle"><%= submit_tag "Buscar", :name => nil %></h2>
<% end %>

</div>

</body>
</html>
