<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss" />
</head>

<body>
<h1 align="middle">Sistema de controle de estoque</h1>
<h2 align="middle"><a href= "/">Flux-Control</a></h2>
      <!-- Features -->
        <div id="features-wrapper">
          <section id="features" class="container">
             <div class="row">
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="/produtos" class="image featured"><img width="120" height="330" src="http://cursos.unipampa.edu.br/cursos/ppgesp/files/2015/04/lista-seo.jpg"/></a>
                    <header>
                     <ul class="actions">
                      <li><a href= "/produtos" class="button icon fa-file">Lista de produtos</a></li>
                      </ul>
                    </header>
                    <p>O que temos na nossa loja?</p>
                  </section>

              </div>
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="/produtos/new" class="image featured"><img width="120" height="330" src="http://www.freeiconspng.com/uploads/blue-plus-icon-12.png" alt="" /></a>
                    <header>
                      <ul class="actions">
                      <li><a href= "/produtos/new" class="button icon fa-file">Adicionar produto</a></li>
                      </ul>
                    </header>

                    <p>Mais produtos chegando!!!</p>
                  </section>

              </div>
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="/produtos" class="image featured"><img width="120" height="330" src="http://resolutocontabil.com.br/wp-content/uploads/2015/03/boas-vendas.jpg" alt="" /></a>
                    <header>
                    <ul class="actions">
                    <li><a href= "/produtos" class="button icon fa-file">Registrar venda</a></li>
                    </ul>
                    </header>

                    <p>Mais um cliente feliz e uma venda efetuada!.</p>
                  </section>

              </div>
            </div>
          </section>

</body>

<footer>
 <p>Copyright ©2016 - GTi. All Rights Reserved</p>
 </footer>
</html>