<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss" />
</head>


<body>

<h1>
<div id="new-bar">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/">News</a></li>
  <li><a href="/">Contact</a></li>
  <li><a href="/">About</a></li>
</ul>
</div>
</h1>
<h1 align="center">Sistema de controle de estoque</h1>
<h2 align="middle"><a href= "/"> Flux-Control</a></h2>
      <!-- Features -->
        <div id="features-wrapper">
          <section id="features" class="container">
            <header>
              <h2>Seja bem vindo!!!</strong>!</h2>
            </header>
            <div class="row">
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="#" class="image featured"><img src="Sistema/app/assets/images/back.jpg" alt="" /></a>
                    <header>
                     <ul class="actions">
                      <li><a href= "/produtos" class="button icon fa-file">Lista de produtos</a></li>
                      </ul>
                    </header>
                    <p>O que temos na nossa loja?</p>
                  </section>

              </div>
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                    <header>
                      <ul class="actions">
                      <li><a href= "/produtos/new" class="button icon fa-file">Adicionar produto</a></li>
                      </ul>
                    </header>

                    <p>Mais produtos chegando!!!</p>
                  </section>

              </div>
              <div class="4u 12u(mobile)">

                <!-- Feature -->
                  <section>
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                    <header>
                    <ul class="actions">
                    <li><a href= "/produtos" class="button icon fa-file">Registrar venda</a></li>
                    </ul>
                    </header>

                    <p>Mais um cliente feliz e uma venda efetuada!.</p>
                  </section>

              </div>
            </div>
          </section>

</body>

<footer>
 <p>Copyright ©2016 - GTi. All Rights Reserved</p>
 </footer>
</html>