<h1 align="center">Sistema de controle de estoque</h1>
<h2 align="center">Loja das Jujubas</h2>

  <div class="container">
  <div class="content1 content">
    <li><h1><%= link_to "Lista de produtos", produtos_path  %><h1></li>
  </div>
  <div class="content2 content">
    <li><h1><%= link_to "Cadastrar produto", new_produto_path  %></h1></li>
  </div>
  <div class="content3 content">
    <li><h1><%= link_to "Registar venda", produtos_path  %></h1></li>
  </div>

  </div>
<footer>
 <p align="center">Copyright ©2016 - GTi. All Rights Reserved</p>
 </footer>
