<h1 align="center">Sistema de controle de estoque</h1>
<h2 align="center">Loja das Jujubas</h2>

   <div class="caixa">
        <li><h1><%= link_to "Lista de produtos", produtos_path  %><h1></li>
        <li><h1><%= link_to "Cadastrar produto", new_produto_path  %></h1></li>
        <li><h1><%= link_to "Registar venda", produtos_path  %></h1></li>
  </div><!--/.well -->

<footer>
 <p align="center">Copyright ©2016 - GTi. All Rights Reserved</p>
 </footer>
