<h1>
<div id="new-bar">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/">News</a></li>
  <li><a href="/">Contact</a></li>
  <li><a href="/">About</a></li>
</ul> 
</div>
</h1>
<h1></h1>
<h1 align="center">New Produto</h1>

<%= render 'form' %>

<%= link_to 'Back', produtos_path %>
