<!DOCTYPE HTML>
<html>

<body>
<div class="prod">
  
<h1 align="center">Novo produto</h1>

<%= render 'form' %>

<h1 align="center"><%= link_to 'Voltar', produtos_path %></h1>

</div> 
</body>


</html>