    <!-- Navigation -->
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header >
        
            <div class="">
                
                    <div class="page-heading" >
                        <h1  >Sobre nós</h1>
                        <hr class="small" >
                        <span class="subheading">
                        <h3>Um pouco sobre quem nós somos.</h3>
                        </span>
                    </div>
                
            </div>
        
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Somos a GTi Engenharia Júnior! Já ouviu falar do Movimento Empresa Júnior? A GTi é vinculada ao curso de Engenharia de Computação, Engenharia de Telecomunicações e a Engenharia de Teleinformática da Universidade Federal do Ceará. </p>
                <p>Trata-se de uma organização sem fins lucrativos. Almejamos o crescimento educacional, pessoal e profissional dos membros envolvidos. Otimizando diariamente recursos e processos internos, desenvolvemos sistemas web criativos e amigáveis, porém a baixo custo. Produzimos para pessoas, empresas e para a Universidade, integrando a graduação e o mercado de trabalho. </p>
                <p>Formar, por meio da vivência empresarial, empreendedores comprometidos e capazes de transformar o Brasil!</p>
            </div>
        </div>
    </div>

    <hr>

