<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss"/>
</head>



<body>

    <!-- Navigation -->
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" >
        
            <div class="row">
                
                    <div class="page-heading" >
                        <h1  >Sobre nós</h1>
                        <hr class="small" >
                        <span class="subheading">
                        <h3>Um pouco sobre quem nós somos.</h3>
                        </span>
                    </div>
                
            </div>
        
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Somos a GTi Engenharia Júnior! Já ouviu falar do Movimento Empresa Júnior? A GTi é vinculada ao curso de Engenharia de Computação, Engenharia de Telecomunicações e a Engenharia de Teleinformática da Universidade Federal do Ceará. </p>
                <p>Trata-se de uma organização sem fins lucrativos. Almejamos o crescimento educacional, pessoal e profissional dos membros envolvidos. Otimizando diariamente recursos e processos internos, desenvolvemos sistemas web criativos e amigáveis, porém a baixo custo. Produzimos para pessoas, empresas e para a Universidade, integrando a graduação e o mercado de trabalho. </p>
                <p>Formar, por meio da vivência empresarial, empreendedores comprometidos e capazes de transformar o Brasil!</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; 2Metros 2016</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
