    <header>
        
            <div class="">
                
                    <div class="page-heading" >
                        <h2 align="middle">Fale conosco!</h2>
                        <hr class="small" >
                    </div>
                
            </div>
        
    </header>

    <!-- Main Content -->
    <div class="container">
        
            <div align="center">
                <p>Entre em contato conosco pelo facebook, nosso site ou venha nos visitar! </p>
                <p>Nosso endereço é:
                Av. Humberto Monte, Campus do Pici - Bloco 725, DETI</p>
                <p>Telefone para contato: +55 (85) 997734615</p>
            </div>
        
    </div>

<hr>