// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: lightblue;
    background-image: url("back.jpg");
}

h1{
color: #fff
}

h2{
color: #fff
}

footer{

  color: gray

}

.container{

width:1260px;
height:210px;
background-color:grey;

}
.content{
float:left;
height:30px;
}
.content1{
background-color:lightblue;
height: 200px;
width:420px;
}
.content2{
width:420px;
height: 200px;
background-color:lightgreen;
}
.content3{
  width:420px;
  height: 200px;
  background-color:lightyellow;
}
