// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: lightblue;
    background-image: url("back.jpg");
}

h1{
color: #fff
}

h2{
color: #fff
}

footer{

  color: gray
}

div.caixa{

  align-items: center;
}
